<form [formGroup]="commandGroup" >
  <div style="background: orangered">
    <table>
      <tr>
        <td>
          <mat-form-field>
            <input matInput formControlName="text" placeholder="Text">
          </mat-form-field>
        </td>
        <ng-container *ngIf="this.command.subcommands.length < 1">
        <td style="background-color: aquamarine">
            <mat-form-field>
              <input matInput  class="form-control" (input)="responseTextChange($event.target.value)">
            </mat-form-field>
        </td>
        </ng-container>
      </tr>
    </table>
  </div>

  <button mat-button-raised color="primary"(click)="addCommand()">Add Subcommand</button>
  <ng-container *ngIf="this.enableDeleteButton">
    <button mat-button-raised color="primary"(click)="deleteCommand($event)">x</button>
  </ng-container>

  <ul>
    <li
      *ngFor="
      let subcommand of commandArray?.controls;
      let i = index"
    >
      <app-command [index]="i"
                   [enableDeleteButton]="true"
                   (updateCommandEvent)="onUpdateCommandEvent($event)"
                   (deleteCommandEvent)="onDeleteCommandEvent($event)"
      ></app-command>
    </li>
  </ul>
</form>
<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
{{this.command | json }}





